.exercises-section{
    min-height: var(--section-height);
    background-color: var(--section-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
}

.exercises-header{
    background-color: var(--navbar-bg-color);
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-shadow: 1px 1px 1px black;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .75rem;
    padding: 2rem;
}

.list-container{
    width: 100%;
    max-width: 30rem;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(12, 12, 12, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(12, 12, 12, 1);
box-shadow: 8px 8px 24px 0px rgba(12, 12, 12, 1);
border-radius: 1rem;
}

.header-span{
    font-size: 1rem;
    color: rgb(68, 196, 68);
    cursor: pointer;
}

.exercises-list{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list-element{
    background-color: rgb(21, 131, 36);
    font-size: 1.25rem;
    padding: .75rem;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    width: 100%;
    color: white;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.list-element:hover{
    background-color: rgb(16, 100, 27);
}

.list-element:nth-child(even):hover{
    background-color: rgb(16, 100, 27);
}

.list-element:not(:last-child){
    border-bottom: 1px dashed rgb(56, 107, 26);
}

.list-element:nth-child(even){
    background-color: rgb(24, 145, 40);
}

.list-element:last-child{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.navlink{
    color: white;
    width: 100%;
}

.popup{
    position: fixed;
    color: black;
    left: calc(-1 * (var(--aside-width)));
    background-color: rgb(94, 121, 94);
    height: var(--section-height);
    max-width: var(--aside-width);
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    
    transition: all .4s ease-in-out;
    /* transform: translate(calc(var(--aside-width) * -1)); */
}

.blurred {
    filter: blur(5px);
}

.popup-form{
    display: flex;
    flex-direction: column;
}

.shown{
    left: 0;
    -webkit-box-shadow: 4px 0px 32px 4px rgba(66, 68, 90, 1);
-moz-box-shadow: 4px 0px 32px 4px rgba(66, 68, 90, 1);
box-shadow: 4px 0px 32px 4px rgba(66, 68, 90, 1);
}