.exercises-section{
    min-height: var(--section-height);
    /* background-color: var(--section-bg-color); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
    transition: all .4s ease-in-out;
}

.exercises-header{
    background-color: var(--navbar-bg-color);
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-shadow: 1px 1px 1px black;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .75rem;
    padding: 2rem;
}

.list-container{
    width: 100%;
    max-width: 30rem;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(12, 12, 12, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(12, 12, 12, 1);
box-shadow: 8px 8px 24px 0px rgba(12, 12, 12, 1);
border-radius: 1rem;
}

.header-span{
    font-size: 1rem;
    color: rgb(68, 196, 68);
    cursor: pointer;
}

.exercises-list{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.list-element{
    background-color: rgb(21, 131, 36);
    font-size: 1.25rem;
    
    text-shadow: 1px 1px 1px black;
    width: 100%;
    color: white;
    cursor: pointer;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    transition: all .2s ease-in-out;
}

.list-link{
    color: white;
    width: 100%;
    padding: .75rem 1.25rem;
}

.delete-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1rem;
    color: rgb(228, 228, 228);
    z-index: 10;
    font-size: 1.15rem;
    background-color: rgb(51, 100, 37);
    padding: .3rem;
    border-radius: .5rem;
    cursor: pointer;
    border: 1px dashed black;
    transition: all .2s ease-in-out;
}

.delete-button:hover{
    background-color: rgb(73, 143, 54);
}


.list-element:hover{
    background-color: rgb(16, 100, 27);
}

.list-element:nth-child(even):hover{
    background-color: rgb(16, 100, 27);
}

.list-element:not(:last-child){
    border-bottom: 1px dashed rgb(56, 107, 26);
}

.list-element:nth-child(even){
    background-color: rgb(24, 145, 40);
}

.list-element:last-child{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.navlink{
    color: white;
    width: 100%;
}

.popup{
    position: fixed;
    color: black;
    left: calc(-1 * (var(--aside-width)));
    background-color: rgb(94, 121, 94);
    height: var(--section-height);
    max-width: var(--aside-width);
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    transition: all .4s ease-in-out;
}

.blurred {
    filter: blur(5px);
}

.remove-popup{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    gap: 1rem;
    top: 50%;
    left: 50%;
    background-color: rgb(28, 58, 20);
    color: white;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 1px black;
    padding: 2rem;
    width: 100%;
    max-width: 22rem;
    border-radius: 1.5rem;
    
}

.popup-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px dashed rgb(69, 128, 69);
    padding:1.5rem 1rem;
    border-radius: 1rem;
    /* margin: 1rem; */
    gap: 2rem;
    max-width: 28rem;
}

.remove-popup-btn{
    padding: .75rem 1.25rem;
    border-radius: .75rem;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.remove-popup-btn:hover{
    opacity: .8;
}

.remove{
    background-color: rgb(119, 2, 2);
    border: 2px solid rgb(71, 1, 1);
}

.remove-cancel{
    background-color: rgb(148, 148, 148);
    border: 2px solid rgb(68, 68, 68);
}

.shown{
    left: 0;
    -webkit-box-shadow: 4px 0px 32px 4px rgba(66, 68, 90, 1);
-moz-box-shadow: 4px 0px 32px 4px rgba(66, 68, 90, 1);
box-shadow: 4px 0px 32px 4px rgba(66, 68, 90, 1);
}

.popup-form{
    width: 100%;
    padding: 2rem;
    color: white;
    background-color: rgb(97, 160, 97);
    display: flex;
    flex-direction: column;
    
}

.popup-label{
    font-size: 1.20rem;
    font-weight: 400;
    margin-bottom: .25rem;
    text-shadow: 1px 1px 1px black;
}

.popup-input{
    margin-bottom: 1.5rem;
    max-width: 15rem;
    font-size: .95rem;
    padding: .5rem .75rem;
    border-radius: .15rem;
    border: 1px solid rgb(109, 109, 109);
    transition: all .15s ease-in-out;
}

.popup-input:focus{
    padding: 1rem .75rem;
    font-size: 1rem;
}

.button-container{
    display: flex;
    gap: 1rem;
}

.popup-button{
    padding: .5rem .75rem;
    border-radius: .25rem;
    font-size: .9rem;
    color: white;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.save{   
    border: 1px solid rgb(0, 85, 0);    
    background-color: rgb(95, 255, 95); 
}

.save:hover{
    background-color: rgb(47, 128, 47);
}

.cancel{
    background-color: rgb(175, 127, 127);
    border: 1px solid rgb(17, 0, 0);
}

.cancel:hover{
    background-color: rgb(110, 79, 79);
}


@media only screen and (max-width:400px){
    
    .remove-popup{
        max-width: 19rem;
    }
}