.single-exercise-section{
    min-height: var(--section-height);
    height: var(--section-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 2rem;
    gap: 2rem;
    position: relative;
    background-color: white;
}

.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 80rem;
    gap: 3rem;
}

.details-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    background-color: var(--navbar-bg-color);
    color: white;
    padding: 1rem;
    text-shadow: 2px 2px 2px black;
    border-radius: 1rem;
    -webkit-box-shadow: -3px 8px 23px -3px rgba(66, 68, 90, 1);
    -moz-box-shadow: -3px 8px 23px -3px rgba(66, 68, 90, 1);
    box-shadow: -3px 8px 23px -3px rgba(66, 68, 90, 1);
}

.details-header{
    font-size: 2.5rem;
}

.details-span{
    font-size: 1.30rem;
}

.chart-container{
    /* max-width: 30rem; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem .5rem;
    border: 1px solid #ccc;
    min-height: 250px;
    border-radius: 1rem;
    -webkit-box-shadow: 5px 8px 17px -7px rgba(66, 68, 90, 1);
-moz-box-shadow: 5px 8px 17px -7px rgba(66, 68, 90, 1);
box-shadow: 5px 8px 17px -7px rgba(66, 68, 90, 1);
}

.trainings-container{
    width: 100%;
    max-width: 80rem;
    color: white;
    /* height: 100%; */
    padding-bottom: 2rem;
}

.trainings-header{
    width: 100%;
    text-align: center;
    background-color: var(--navbar-bg-color);
    padding: 1rem;
    
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px black;
}

.add-training-btn{
    padding: .5rem 1rem;
    background-color: rgb(84, 150, 96);
    border: 1px solid rgb(57, 100, 57);
    border-radius: .5rem;
    font-size: .9rem;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 1px black;
    -webkit-box-shadow: 5px 8px 17px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px 8px 17px -7px rgba(66, 68, 90, 1);
    box-shadow: 5px 8px 17px -7px rgba(66, 68, 90, 1);
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-top: .5rem;
}

.add-training-btn:hover{
    background-color: rgb(71, 128, 81);
}

.trainings-table{
    background-color: var(--navbar-bg-color);
    width: 100%;
    border-collapse: collapse;
    text-shadow: 1px 1px 1px black;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    -webkit-box-shadow: 5px 8px 17px -7px rgba(66, 68, 90, 1);
-moz-box-shadow: 5px 8px 17px -7px rgba(66, 68, 90, 1);
box-shadow: 5px 8px 17px -7px rgba(66, 68, 90, 1);
}

.trainings-table thead tr th {
    padding: .75rem 0;
}

.trainings-table-body{
    height: 100%;
}

.trainings-table-row {
    height: 2rem;
    transition: all .2s ease-in-out;
    text-align: center;
    cursor: pointer;
}

.trainings-table-row td{
    padding: 1rem .25rem;
}

.trainings-table-row:last-child td:last-child{
    border-bottom-right-radius: 1rem;
}

.trainings-table-row:last-child td:first-child{
    border-bottom-left-radius: 1rem;
}


 .trainings-table-row:nth-child(even):hover{
    background-color: rgb(16, 100, 27);
}

.trainings-table-row:nth-child(odd):hover{
    background-color: rgb(16, 100, 27);
}


.trainings-table-row:not(:last-child){
    border-bottom: 1px dashed rgb(56, 107, 26);
}

.trainings-table-row:nth-child(even){
    /* background-color: rgb(24, 145, 40);
     */
     background-color: rgb(102, 179, 116);
     
}

.trainings-table-row:nth-child(odd){
    background-color: rgb(109, 163, 97);
    
}


/* .dark{
    filter: brightness(40%);
} */

@media only screen and (max-width: 700px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}